[2019-12-23 13:21] wanghaisheng opened #1 "To match a pattern in multiple domain"
how to set "domain_whitelist = { "domain1.com", "domain2.com", "domain3.com" },"

domain_whitelist = setmetatable({}, { __index = function(_, k)
    return ngx.re.match(k, [[\.example\.domain1$] | [\.domain2\.com$]], "jo")
end}),

@fffonion

[2019-12-23 17:02] fffonion commented on #1
Hi @wanghaisheng if you just want to match domain1.com, domain2.com and domain3.com, use
[code]

If you want to match multiple subdomains, you will need to craft a regex pattern that matches both subdomains:
[code]

[2019-12-24 04:13] #1 closed

[2020-02-09 17:50] tpimh opened #2 "attempt to concatenate local 'err' (a boolean value)"
Installed lua-resty-acme using opm, configuring it according to the readme, getting the following errors:
[code]
May this be a misconfiguration or a bug?

[2020-02-10 03:25] fffonion commented on #2
Hi @tpimh, this looks like a unmatched version of lua-resty-openssl. Could you list the version installed with `opm list`?

[2020-02-10 08:38] tpimh commented on #2
I have lua-resty-openssl 0.5.0 installed. Looks like 0.5.1 and 0.5.2 didn't make it to opm yet.

[2020-02-10 08:45] fffonion commented on #2
Yeah I'm having some trouble uploading lua-resty-openssl 0.5.2 to opm, so does lua-resty-acme 0.5.0 since it requires that version of lua-resty-openssl. Would you try install from source or luarocks please?

https://github.com/fffonion/lua-resty-openssl/archive/0.5.2.tar.gz and
https://github.com/fffonion/lua-resty-acme/archive/0.5.0.tar.gz

[2020-02-10 16:38] tpimh commented on #2
Updated both lua-resty-acme and lua-resty-openssl by unpacking over old version and replacing old files. Still get the following:

[code]
Right now can't even access http version of the site because of HSTS.

[2020-02-10 16:46] fffonion commented on #2
🤔 emm this feels weird, could you verify for me line 61 of `/usr/local/openresty/site/lualib/resty/acme/util.lua` is
[code]
please and nginx reload is successful?

[2020-02-10 16:51] tpimh commented on #2
Thanks for reminding me. Actually forgot to restart openresty after replacing the files.

Now the error is the following:

[code]

[2020-02-10 16:57] tpimh commented on #2
Actually the error only happened when trying to access `/.well-known`, looks like I received my certificate from Let's Encrypt and the site is running fine.
Thank you very much for your help! I think the issue is resolved now.

[2020-02-10 16:57] #2 closed

[2020-05-07 00:24] constantineav opened #4 "not work storage "file""
Hello
storage file not work

            storage_adapter = "file",
            storage_config = {
                dir = '/etc/openresty/storage',
            },

cert not get and not save.

[2020-05-07 00:26] fffonion commented on #4
Hi @constantineav, could you share some error log entries if there's any?

[2020-05-07 08:31] constantineav commented on #4
Hi!
there is nothing in the logs. shm works well.

[2020-05-07 08:33] fffonion commented on #4
emmm, could you maybe set error_log level to `debug` and see if there's anything useful?

[2020-05-07 08:39] constantineav commented on #4
enable debug
[log.txt](https://github.com/fffonion/lua-resty-acme/files/4591770/log.txt)

[2020-05-07 08:48] constantineav commented on #4
additional. next request.
[log_next.txt](https://github.com/fffonion/lua-resty-acme/files/4591841/log_next.txt)

[2020-05-13 07:57] kajmagnus opened #5 "Differences from lua-resty-auto-ssl?"
Hi Wangchong @fffonion

Nice with automatic https for Nginx / OpenResty :- )

Can I ask, 1) what are the differences between this project, *lua-resty-acme* and  https://github.com/auto-ssl/lua-resty-auto-ssl ? And 2) what are the reasons this is a different project than lua-resty-auto-ssl (instead of building on lua-resty-auto-ssl)?

Some differences I noticed: This project can be installed using

[2020-05-13 08:38] fffonion commented on #5
Hi @kajmagnus, the initial purpose of this library is to support [kong/kong-plugin-acme](https://github.com/Kong/kong-plugin-acme). And we don't want to depend on a third party program (`dehydrated`) as lua-resty-auto-ssl does. So I create this library and the [supporting openssl library](https://github.com/fffonion/lua-resty-openssl) which reduces complexity for deployment. And dependency free me

[2020-05-13 09:07] kajmagnus commented on #5
Ok thanks for the reply and info  :- )

Yes, just a little bit later I noticed you're also developing https://github.com/Kong/kong-plugin-acme. Kong looks nice I think — I'm currently using Nginx, about to switch to OpenResty, maybe Kong some day in the future

[2020-05-13 09:07] #5 closed

[2020-05-13 09:19] constantineav commented on #4
Hello. Will you have time to fix this?

[2020-05-13 09:21] fffonion commented on #4
Hi @constantineav yes i'll take a look at this, my dev env is currently broken 😂 Any help on this will be appreciated!

[2020-05-13 09:23] constantineav commented on #4
I would like to help, but I'm not a Lua programmer

[2020-05-13 10:41] fffonion commented on #4
don't worry i will take a look this days. i assume it's some limitation of
the lua os library that causes bug.
just want to make sure: could you confirm for me that the directory
`/etc/openresty/storage` exists and writable by user that runs nginx?

constantineav <notifications@github.com>于2020年5月13日 周三下午5:24写道：

--
Regards
fffonion (B607 2745 84E8 D5E5 <https://yooooo.us/gpg.txt>)

[2020-05-13 12:00] constantineav commented on #4
nginx run as user nginx

[code]

[2020-05-18 13:20] fffonion commented on #4
Hi @constantineav, I ran a test finally and it turns out that the file storage is missing `ttl` capability so it's currently broken. I'm cherry-pick some ideas from #3.

[2020-05-18 13:29] constantineav commented on #4
Hi @fffonion , Thank you very much for your work!

[2020-05-18 14:24] fffonion commented on #4
This is now fixed with 0.5.3 release : ).
Also in order for renewal to work for file storage, you will need to install `luafilesystem` or `luafilesystem-ffi`.

[2020-05-20 17:03] constantineav commented on #4
fire!
Everything is working. Thank you so much.

[2020-05-20 17:03] #4 closed

[2020-05-21 22:58] chewi opened #7 "Account key and domain keys written as files regardless of storage backend?"
Is this deliberate? It seems like an odd mismatch to me. My nginx is a Kubernetes pod so the local storage may disappear. My etcd storage, however, is persistent. And yes, my colleague is writing an etcd backend for this project. :smile:

Perhaps you can convince me why files are more appropriate here. Otherwise would you accept a patch to change this behaviour? Or perhaps make it configurable?

W

[2020-05-22 04:40] fffonion commented on #7
Hi @chewi , account key is currently read ad file if defined, or generate on the fly when autossl initializes. Patches are definitely welcomed to load account key from storage backend. You will want to do that in AUTOSSL.init_worker while cosocket api is available.

Domain keys however are always stored together with certificates in storage. (You can use domain_keys_path to desiginite one but that

[2020-05-22 19:50] chewi commented on #7
Thanks for your quick reply!

I figured out the problem. I hadn't noticed that `autossl.init` takes two tables and `api_uri` needs to go in the second one. Other settings like `account_email` are copied over so this is a bit confusing.

Unfortunately I didn't get my project working in time but I was close so maybe I'll continue it. Some problems stemmed from testing with [Pebble](https://github.co

[2020-05-27 08:24] kajmagnus opened #9 "Can I update domain_whitelist dynamically?"
Can I add domains to `domain_whitelist` without restarting OpenResty or reloading the config?

I'm new to Lua but maybe since `domain_whitelist` is a "metatable", one can define an `__index()` function: (see http://lua-users.org/wiki/MetatableEvents )

if the value is a function, the function is called, passing in the table and the key; the return value of that function is returned as the result

[2020-05-27 08:32] fffonion commented on #9
Hi @kajmagnus, yes you can definitely use the lua-resty-http in __index method since it's called inside a timer.

Adding a callback hook is a good syntax sugar feature, for now I guess you can get pretty much the same by just putting it into __index. Similarly you can also get the storage backend using `require("resty.acme.autossl").storage`.

[2020-05-27 09:26] kajmagnus commented on #9
@fffonion  ok thanks, sounds good.

(Personally I'm guessing people would be fine with `__index`, if there was just some docs mentioning that one can call Redis, or the app server, from `__index`, and sample code about how to use it.  I could reply here with some sample code, if I implement such an `__index` function in the future — not now but maybe in two or three months. )

A timer — that's Kon

[2020-05-27 12:13] fffonion commented on #9
Yeah i'll add a note in the readme on that.

So the timer here is just vanilla openresty timer, basically you can use most openresty APIs in that context.

[2020-05-27 14:11] kajmagnus commented on #9
Wow that was fast :- )

From the new docs:

Is that for each connection, always, or just the very first connection when the HTTPS cert doesn't yet exist, and gets created?

[2020-05-27 15:21] fffonion commented on #9
It's for each connection, always. Since we rely on that whitelist to decide "whether i'm going to serve certificate (or order a new one) for this domain".

But you can make it smarter by adding some cache for example.

[2020-06-11 14:32] yxy opened #10 "should expose get_certkey method"
first of all, awesome job. thanks for your kind work 👍 .

I need to check domain certkey exists or not, but I found this method only private.
It would be very convenient if this method can be exposed.

[code]

[2020-09-08 06:42] fffonion opened #12 "etcd storage backend"
This is the tracking issue for development.

[2020-09-08 06:42] fffonion commented on #12
@chewi I remember you mention a development of etcd backend is on going. I'd like to check if it's being worked on so I can avoid step upon existing works?

[2020-09-08 07:01] fffonion commented on #9
This is implemented as `domain_whitelist_callback` and will be available in next release : )

[2020-09-08 07:01] #9 closed

[2020-09-08 07:09] fffonion commented on #10
This has been implemented and will be included in next release : )

[2020-09-08 07:09] #10 closed

[2020-09-08 07:11] fffonion commented on #10
@yxy the exposed function is slightly different from internal version, please refer to doc https://github.com/fffonion/lua-resty-acme#autosslget_certkey

[2020-09-08 07:27] chewi commented on #12
Sorry, it dropped down the priority list. I believe I had it more or less working, the only remaining issues were related to strictness around Pebble. I'll push what I have anyway as soon as I can.

[2020-09-08 07:29] fffonion commented on #12
@chewi Roger, thanks!

[2020-11-11 14:12] constantineav opened #14 "Renew failed"
Hello!
I am getting a certificate renewal error. I cannot understand what is the matter.
Thank you in advance.

`
2020/11/11 12:05:33 [error] 12#12: *47966 lua ssl certificate verify error: (20: unable to get local issuer certificate), context: ngx.timer

2020/11/11 12:05:33 [error] 12#12: *47966 [lua] autossl.lua:196: update_cert(): error during acme init: acme directory request failed: 20: unabl

[2020-11-11 14:26] fffonion commented on #14
Hi, you will need to configure trusted CA:
[code]

the path is dependent on your OS.

[2020-11-11 16:19] constantineav commented on #14
Hi.
These settings are written initially.

`lua_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
lua_ssl_verify_depth 2;

ssl_certificate /etc/openresty/default.pem;
ssl_certificate_key /etc/openresty/default.key;

ssl_certificate_by_lua_block {
    require("resty.acme.autossl").ssl_certificate()
}

location /.well-known {
    content_by_lua_block {
        require("resty.acme.autossl")

[2020-11-11 16:21] fffonion commented on #14
Ah I see, we will need that two lua_ssl_* directives in `http{}` block. Since the renewal timer is started in init_worker phase. I'll update the readme. Thanks for spotting this!

[2020-11-11 16:25] #14 closed

[2020-11-11 16:26] fffonion commented on #14
I just updated the readme, feel free to re-open if issue persists.

[2020-11-11 17:25] constantineav commented on #14
I see a very strange situation. To exclude any cache in the middle, I make requests locally. But I get different certificates. Here's an example. Requests with a difference of several seconds. The domain is just changed.

[code]

[2020-11-12 06:30] fffonion commented on #14
@constantineav There's a cache of 1 hr, we don't actively invalidate cache right now. This can be improvement.

[2020-11-16 09:20] wangyp0701 commented on #14
Can I renew the certificate automatically after it has expired ? @fffonion

[2020-11-16 09:48] fffonion commented on #14
@wangyp0701 yes

[2020-11-16 14:58] fffonion commented on #14
@wangyp0701 Which version of library are you using? Let's also open a new issue instead of discussing in a closed one.

[2020-11-17 01:39] wangyp0701 commented on #14
All expired certificates are updated at zero

![image](https://user-images.githubusercontent.com/33682005/99329269-cfc7bf80-28b8-11eb-833c-b6183e8cab58.png)

[2020-11-18 21:10] cdloh opened #15 "Change order in ssl_certificate"
Hi,

We're looking at using this internally and I was wondering around the order of actions in ssl_certificate

At present you check if the certificate is whitelisted before serving the certificate.

Is there any reason why you don't swap those two actions around?

IE

* check if you have a valid certificate, if you do serve it.
* Check if it needs to be created (if it doesnt return)
* If you does

[2020-11-19 06:36] fffonion commented on #15
Hi @cdloh, your thoughts make sense to me. Though I'd think always checking the whitelist first would be easier to make it as a single source of truth of which domains are allowed. For example, if we check the storage first, it won't be possible to disable a domain that is previously allowed, without deleting it from storage.
Normally the dynamic whitelist check routine should be kept slim and fas

[2020-11-19 15:05] cdloh commented on #15
Fair enough. I can see the benefit there.

I'll test it further in anger to see if I find any issues.

I would argue that disabling a certificate would happen fairly rarely? And the benefit of speeding up ALL SSL connections vs having the steps to manually clean a certificate would outweigh each other.

[2020-11-19 15:54] fffonion commented on #15
Generally such hot path that requires network would needs to be cached. There's a great library I would suggest to use https://github.com/thibaultcha/lua-resty-mlcache, if you don't want to implement your own caching mechanism.

[2020-11-23 12:13] cdloh opened #17 "Move to lua-resty-redis-connector to support sentinel"
Would you be happy to move to [lua-resty-redis-connector](https://github.com/ledgetech/lua-resty-redis-connector) over base lua-resty-redis so that redis sentinel instances can be supported?

This will make it easier to load balance it and make redis HA.

[2020-11-23 13:09] fffonion commented on #17
@cdloh I'd prefer to keep dependency as light as possible, as lua-resty-redis is a library shipped with openresty. But I don't think it's a bad idea to support redis sentinel. Is it possible that we support both: if user don't have lua-resty-redis-connector installed we can fallback to lua-resty-redis?

[2020-11-23 14:58] cdloh commented on #17
@fffonion makes sense. Are you happy if it's loaded like lfs_ffi & lfs are in the file storage adapter?

[2020-11-23 15:09] fffonion commented on #17
Yes exactly 👍

[2020-11-24 19:30] tohodakilla opened #18 "whitelist not working"
I have configured package according to the docs and yet any domain i point to this server gets a certificate

[code]
openresty v: 1.19.3.1 with opm

When I point diffferent.tld or sub.domain.tld to gateway it still gets certificate, besides not being in the whitelist.
what I might be doing wrong?

[2020-11-25 15:20] fffonion commented on #18
@tohodakilla could you set the top level `error_log /var/log/openresty/error.log;` to `error_log /var/log/openresty/error.log debug;` and share the log lines containing the domain name `diffferent.tld` or `sub.domain.tld`?

[2020-11-25 17:51] tohodakilla commented on #18
i have cleared the log and added one you requested:

_**here is for what is show in the log for sub.domain.tld:**_
2020/11/25 17:49:00 [info] 20337#0: [lua] openssl.lua:5: using ffi, OpenSSL version linked: 1010106f
2020/11/25 17:49:00 [error] 20337#0: init_by_lua error: /usr/local/openresty/site/lualib/resty/acme/autossl.lua:434: can't open account_key file /etc/openresty/account.key: /etc/openre

[2020-11-25 17:52] tohodakilla commented on #18
I have recreated entire setup from scratch on new box and it works as it should.

[2020-11-26 07:20] fffonion commented on #18
@tohodakilla I assume you are all good on the issue here then. If so feel free to close the ticket : )

[2020-11-26 13:42] #18 closed

[2020-12-01 15:53] cdloh opened #20 "Add hook or configurable cool off when generation fails"
Would it be possible to add a hook or something along those lines for a user supplied function for when certification generation fails.

The problem I'm trying to solve is that the application that sits behind openresty is configurable to have any user supplied domain. We then gather those domains and add them to the whitelist used by resty acme.

However there are times that those domains either

[2020-12-03 14:26] cdloh commented on #20
@fffonion would you be happy to accept an MR on this? Do you have any thoughts either way?

[2020-12-03 14:31] fffonion commented on #20
@cdloh Yes PRs are welcomed! I recently developed a similar feature in Kong ACME plugin (https://github.com/Kong/kong-plugin-acme/blob/master/kong/plugins/acme/client.lua#L229). I think for now a per domain cool down time will be sufficient as that's most people hit rate limit with. Basically you configure a backoff time (like 5 minutes), and remember that on a per domain basis in the storage.

[2020-12-23 22:47] cauboy opened #22 "How to debug"
Hey,

thanks for your work!

I'm trying to use this package but for some reason `https://` connections aren't working. So I'm wondering how to best debug such an issue.

When using `http://` all is fine:
[code]

When using `https://` I won't get any response – it will eventually close the connection with a t timeout:

[code]

Here's my `nginx.conf` file:

[code]

[2020-12-24 07:45] cauboy commented on #22
Stupid me. Firewall was blocking port 443 :/

[2020-12-24 07:45] #22 closed

[2021-01-05 09:09] #12 closed

[2021-01-12 16:22] cdloh opened #24 "Not returning ERR correctly in update_cert_handler"
Whilst working on #20 I noted that errors aren't being returned in update_cert_handler

https://github.com/fffonion/lua-resty-acme/blob/35fbb9c46a9deb39a250da1fbaf5eb0cedd3ccd4/lib/resty/acme/autossl.lua#L173-L190

The code is relying on that error for further down

https://github.com/fffonion/lua-resty-acme/blob/35fbb9c46a9deb39a250da1fbaf5eb0cedd3ccd4/lib/resty/acme/autossl.lua#L223-L228
Unless

[2021-01-12 16:53] fffonion commented on #24
I think you are right, let me fix it tomorrow. Thanks for reporting this!

Callum Loh <notifications@github.com>于2021年1月13日 周三上午12:22写道：

--
Regards
fffonion (B607 2745 84E8 D5E5 <https://yooooo.us/gpg.txt>)

[2021-01-12 17:49] cdloh commented on #24
I've submitted an MR but feel free not to use incase you want to change the logging around as well.

[2021-01-13 08:02] #24 closed

[2021-01-14 16:08] fffonion commented on #7
This is already implemented in #16

[2021-01-14 16:08] #7 closed

[2021-01-15 14:25] cdloh opened #28 "Consistent CI Tests"
At present the Unit tests are a bit haphazard. Based off reading the latest logs quite a few of the problems appear to be around frp.

I had a few options on what could be done to make this more consistent / easier for people to join.

1. Move to ngrok

Positives?

  * Most of the other autossl  / LetEncrypt projects use this so makes it easier for people to move across projects (unlikely but hand

[2021-01-17 14:54] kajmagnus opened #29 "Installing offline, from file system — instead of HTTP fetching things via opm?"
Question:

**(** Now finally trying out *lua-resty-acme* :- )
8 months after my last topic: https://github.com/fffonion/lua-resty-acme/issues/5 "Differences from lua-resty-auto-ssl" **)**

The *lua-resty-acme* installation —  it's basically just `opm` downloading files and placing in `/usr/local/openresty/site/` typically?
But does *not* involve things like compiling C code?

Background: I'd like

[2021-01-17 15:52] kajmagnus commented on #29
Now I might have found the answer?:

https://opm.openresty.org/docs#description

Meaning, `opm` downloads just Lua code, as of now — it won't compile any C code or some "weird" build steps. So I suppose if I just copy the pure Lua files in the same way as `opm` would have done, all is fine. ?

[2021-01-19 05:05] fffonion commented on #29
Correct, opm only download lua files. Do make sure in the image, the path
that you manually copy those files in, is in the lua_package_path
https://github.com/openresty/lua-nginx-module#lua_package_path.

KajMagnus <notifications@github.com>于2021年1月17日 周日下午11:52写道：

--
Regards
fffonion (B607 2745 84E8 D5E5 <https://yooooo.us/gpg.txt>)

[2021-01-19 16:26] kajmagnus commented on #29
Thanks!

Yes. Ok, closing

[2021-01-19 16:26] #29 closed

[2021-05-10 06:20] UXabre opened #36 "Vault storage: Support kubernetes auth method"
As one popular platform to use this plugin in is Kong, which in turn has excellent support for kubernetes, it should be made possible to allow storage in a vault KV secrets database by using your service account instead.

3 parameters should be definable:
 - role
 - auth path
 - serviceaccount file location

[2021-05-10 13:50] fffonion commented on #36
Resource for developer for this feature: https://www.vaultproject.io/docs/auth/kubernetes

[2021-05-10 13:56] UXabre commented on #36
Thanks for the input!
I'm currently working on implementing this.
I'm struggling a bit to get this automatically tested tough...

Here's my WiP so far:
https://github.com/UXabre/lua-resty-acme/commit/81de6f93f25008a0514e0a059dd5d78a4259ec4d

[2021-05-10 14:05] fffonion commented on #36
@UXabre The WIP code looks awesome!
I'm not super familar with how to test upon k8s world without bring up
real k8s cluster (minikube?). But that may be too compilcated and make the test takes much more time to run.
Actually I think if you can capture what a real Vault agent sent when it's authenticating to Vault server, and use that
as an "expected result", it's kind of acceptable as well.

[2021-05-10 15:22] UXabre commented on #36
I'll try doing it using a JWT auth method. It behaves very similar to the kubernetes auth (only very minor changes, an nothing which affects the code). It, at least, is much more lightweight then setting up k8s/k3s.

I'm currently running the test suites and it will probably need a bit of rinse and repeat before I'll make the PR... nevertheless, I hope to have it in a few hours.

[2021-05-10 19:57] UXabre commented on #28
I also noticed the ci test issues and had a hard time getting something to work, in the end i singled out my test and at least I can sleep...
I'm new on the acme service side of life, but from your proposals I think pebble looks promising.
Perhaps a "smoke test" hybrid can be made in which ngrok is simply used to verify compatibility and all other tests could use pebble?
Just my 2 cents :-)

[2021-05-11 09:14] fffonion commented on #28
I agree moving to use pebble is the right way to go. I intially choose `frp` to avoid a lock-in with `ngrok`,
which doesn't have a clear status of how long its free services will last.

But on the other hand either ngrok or frp should not make the test itself flakky, so the failing tests *may*  indicates
some bugs in code, but I haven't been able to figure out yet.

[2021-05-11 18:33] Laboltus opened #39 "can't get new nonce from acme server"
Since some time, my certificates have stopped updating. I error log I see such error for all my domains:
`[lua] autossl.lua:174: update_cert_handler(): error updating cert for domain.com err: failed to create new order: can't get new nonce from acme server, context: ngx.timer`
I tried to get nonce by hand and it works:
[code]
Also I found that from Jan 17 response code for HEAD request changed fro

[2021-06-01 10:55] constantineav opened #40 "when using storage_adapter = redis requires a shm?"
i use storage_adapter redis and trying to setup tls-alpn-01 challenge.
but at start I get an error:
[code]
patch cross-module is needed anyway?

[2021-06-01 12:55] fffonion commented on #40
Hi @constantineav, looks like the error message is chunked, could you share surrounding lines as well?
Also could you share the config you passed to autossl?

[2021-06-01 12:59] fffonion commented on #39
That looks more like a network issue to me, as we only error out in `new_nonce` when HTTP connection is broken
(https://github.com/fffonion/lua-resty-acme/blob/a1782c994209450fc41deca8bf970d005fd17126/lib/resty/acme/client.lua#L368). I can popup the error in `jws`
so it's more visible.

[2021-06-02 12:50] constantineav commented on #40
Hi!

stream section
[code]

http block
[code]

There is also a proposal for http-01. It would be cool if the answer to the request from letsencrypt was put in redis(or other shared storage). So that any server can confirm the validity if the domain is registered in dns round-robin.

[2021-06-02 12:52] constantineav commented on #40
full log.

[code]
i apply patch and all work

[2021-06-15 10:03] kfigiela commented on #40
You can do this. You need to pass a second argument to autossl.init that sets up storage for ACME challenges.
[code]

[2021-06-24 12:23] constantineav commented on #40
wow! Thank you!

[2021-06-24 12:37] kfigiela commented on #40
Note, there is race condition between server instances and it causes some warning messages (and let's encrypt complaining about buggy client). You should increase lock expiration time as in this commit https://github.com/kfigiela/lua-resty-acme/commit/65b3451fbcad7f912b6b8edc6fddf1adae6d5973

[2021-06-25 13:37] fffonion commented on #39
The error popup is done in https://github.com/fffonion/lua-resty-acme/commit/a19e9c8af9179a81815c653d176aa0bfc27e532b, closing as it seems not an issue from this library.
Please feel free to reopen if you see this situation again.

[2021-06-25 13:37] #39 closed

[2021-06-25 13:44] Laboltus commented on #39
I changed the storage from consul to redis and it works at the time. I will let you know if it happens again.

[2021-06-25 13:46] fffonion commented on #40
This storage config part is a bug, it should pass stoage config automatically. I will fix in next commits.

[2021-06-25 13:47] #40 closed

[2021-09-03 07:55] nizar-m opened #48 "tls-alpn-01 challenge is failing due to wrong certificate version"
`tls-alpn-01` challenge is currently failing with fhe following error.

[code]

The error location seems to be [this in boulder](https://github.com/letsencrypt/boulder/blob/9a81418fe93ad53b667af929f2aa3967927b1c4e/va/tlsalpn.go#L204):

The error is basically that it could not get any of the DNS Subject Alternetive Names.  Boulder expects exactly one DNS SAN with the same name as the domain name.

[2021-09-03 08:10] #48 closed

[2021-09-17 22:00] #28 closed

[2021-09-17 22:01] fffonion commented on #28
Closing this as tests have been moved to pebble.

[2021-12-22 13:37] nizar-m opened #57 "check_renew() function is run whenever the nginx workers are reloaded"
Executing `systemctl reload openresty` is resulting in the `check_renew()` function in autossl being run before the old workers are killed.  This could be a problem if the reload has to executed quite often.

[2021-12-22 13:40] fffonion commented on #57
@nizar-m The `check_new` function is called in a timer for configured `renew_check_interval`, meaning new worker will wait to `renew_check_interval` time to actually do the renew.

[2021-12-22 14:26] nizar-m commented on #57
This is not the new worker executing the check_new function, rather the old worker executing it, before it is stopped.

This happens only on reload. On restart, the workers are force closed.

[2021-12-22 14:33] nizar-m commented on #57
I wonder this could be because the timer gets called prematurely on worker shutdown: https://github.com/openresty/lua-nginx-module#ngxtimerat

This is explained in the documentation for `ngx.timer.at`, although the premature expiry is applicable for `ngx.timer.every` as well.

[2022-01-04 14:02] elvizlai opened #58 "http-01 failed"
I tried using `curl -k -v` to visit, it returns, but http status code 501.

[code]

[2022-01-04 14:18] fffonion commented on #58
@elvizlai I can't think of a place where 501 is thrown from this library. Maybe check your nginx conf and make sure the route is properly handled by lua-resty-acme not other routes? You can add a different access_log in /.well-known/acme-challenge location block to make sure the request is hitting the correct location block.

[2022-01-04 14:59] elvizlai commented on #58
Opps, maybe `pagespeed` related, I will try to confirm this.

[2022-01-04 15:06] elvizlai commented on #58
Sorry for my mistake, the `pagespeed` cause that issue.

[2022-01-04 15:06] #58 closed

[2022-04-08 09:17] fffonion commented on #20
Fixed by #46 / #59

[2022-04-21 06:41] nahin-web opened #62 "How do I use ZeroSSL?"
Do I have to call the zeroSSL lua file in the `eab_handler` config?

[2022-04-21 06:48] fffonion commented on #62
@nahin-web No you only need set the correct `api_uri`.

[2022-04-21 07:24] nahin-web commented on #62
Didn't work. I used `https://acme.zerossl.com/v2/DV90`
I was considering ZeroSSL, as I stuck into Let's Encrypt's rate limiting. Despite having ZeroSSL `api_url`, I get the same rate limit reached error message on the error log

`init_by_lua_block {
            require("resty.acme.autossl").init({
                -- setting the following to true
                -- implies that you read and accepte

[2022-04-21 09:46] fffonion commented on #62
`api_uri` is the config for underlying client, so you should do
[code]

[2022-04-27 13:57] n3on4s opened #64 "Error while trying to use subdomain with "_" simbol"
Hi,

I'm not sure where the problem is but when trying to whitelist and issue certificate for subdomain with underscore symbol `_` issuing fails with the fallowing error:

[code]

end whenever I drop _ symbol everything works as expected.

[2022-05-07 15:18] stardothosting commented on #64
Underscore characters are not permitted in domain names in accordance with RFC 1035, which only allows letters, digits and hyphens. If you cannot register a domain with an underscore than I wouldn't expect it to work here?

[2022-05-07 15:28] fffonion commented on #64
@n3on4s Right as @stardothosting suggested, those are non permitted characters and the error is thrown from the ACME service. There's little we can do on the client side; i'm closing this one, please re-open if you have other questions : )

[2022-05-07 15:28] #64 closed

[2022-07-09 21:05] Hackintoshcorp opened #67 "How to use it?"
Hi so I installed

luarocks install lua-resty-acme
luarocks install luafilesystem

also did everything here https://github.com/fffonion/lua-resty-acme#synopsis

but still don't get the certificate when I go to my website.

How do you use it? 😄

Do I need to run a command to get a SSL? I want to get SSL from zerossl.com because let's encrypt does not work.

My config:

[code]

[2022-07-10 09:49] fffonion commented on #67
Hi @Hackintoshcorp you might want to check the Nginx error log, it should give you some diagnostic information.

[2022-07-10 09:53] Hackintoshcorp commented on #67
My question is does this LUA script make SSL automatically just like https://github.com/auto-ssl/lua-resty-auto-ssl ? And can ZeroSSL be used with this? What config should be done?

[2022-07-10 09:57] fffonion commented on #67
Yes it does automagic stuff, but unlike resty-auto-ssl, when first request on an SNI it doesn't block the request. The process runs in background.
And it does support ZeroSSL, your config looks correct to me at first glance.

[2022-07-10 10:46] Hackintoshcorp commented on #67
@fffonion
I get this error from the log. Have any idea on how to fix it? Fresh install of Openresty 1.21.4-1 btw

2022/07/10 10:25:02 [error] 120523#0: *14 open() "/etc/nginx/nginx/html/.well-known/acme-challenge/t9xG-IzklLS0sSZzng9g0mkxzyB3D-r46JDxEWvEg00" failed (2: No such file or directory), client: IP1.2.2.2, server: ccc.lt, request: "GET /.well-known/acme-challenge/t9xG-IzklLS0sSZzng9g0mkxzy

[2022-07-10 10:53] Hackintoshcorp commented on #67
@fffonion the location should be /.well-known/acme-challenge/ not location = /.well-known{

[2022-07-10 14:32] Hackintoshcorp commented on #67
2022/07/10 14:26:54 [debug] 121323#0: *9 [acme] client.lua:307: acme request: https://acme-v02.api.letsencrypt.org/acme/new-acct response: {
  "key": {
    "kty": "RSA",
    "n": "zzJEM8bqlEpOigYq0BkerTS1UACVwIgfU_q0zIAsCkyjyiiCYyo1IvOZDWw3v_XiMTc0DyXLudvEhYzOz6AUf7KPTeH6KEsArzf0AUdwyLvZ_Wz9OlW66KCZ1ljxrkmOpH81rc2sQeXgLmm0SShTqDCOcC7lPpHxsiwHZTHmqJ2lHfAPwEBEHogzZBsNNu53ygotChL8ZoNNQUe9lxABLsp6jNCY

[2022-07-10 14:57] #67 closed

[2022-07-10 15:04] Hackintoshcorp opened #68 "-"
-

[2022-07-10 17:42] #68 closed

[2022-07-11 08:48] Hackintoshcorp opened #69 ".well-know issue"
keep getting this issue.

[code]

Config

[code]

[2022-07-11 10:22] fffonion commented on #69
yeah the doc is not right, last block should be
[code]

with no `=`. i will update readme.

[2022-07-11 12:08] Hackintoshcorp commented on #69
Where are the SSL certificates stored? And why when I restart nginx the SSL is gone? I read about file storage what it is for? Basically your project is nice but the documentation needs to be more specific in my opinion.

[2022-07-22 23:17] johnfishbein opened #70 "ZeroSSL integration failing to create account"
Hi,

I am trying to invoke the lua-resty-acme library from [`kong`](https://github.com/Kong/kong) using the [acme plugin ](https://github.com/Kong/kong/tree/master/kong/plugins/acme). I have been successfully using this workflow with LetsEncrypt for a long time now.  Recently, I have started to hit rate limit concerns from letsencrypt and have been invesdtingating switching over to a paid CA.  My

[2022-07-22 23:18] johnfishbein commented on #70
This is the invocation of the `lua-resty-acme` library that the `kong` plugin is performing.   I hope this helps to provide clarity on my approach.

The kong plugin invokes this acme library as follows:
`https://github.com/Kong/kong/blob/master/kong/plugins/acme/client.lua#L108`
[code]
`https://github.com/Kong/kong/blob/master/kong/plugins/acme/client.lua#L129`
[code]

[2022-07-25 11:24] fffonion commented on #70
Hi @johnfishbein thanks for the detailed report. It does seem the logic to handle predefined eab crendential is wrong. You can let the library to create it for you at present, you *should* still be able to see the certs in zerossl dashboars as long as you use the corresponding email to login.

The `\/ ` is json's escape logic, it's same as / when decoded. So I'm not sure how/why zerossl returns th

[2022-07-25 21:26] johnfishbein commented on #70
@fffonion Thanks for your response - I will try swapping the `account_key` as suggested.

[2022-08-01 13:29] Videl opened #73 "How to configure other storage configs when in DB-less?"
Hello,

The documentation says that we can configure other storage, and points to this part:
https://docs.konghq.com/hub/kong-inc/acme/#storage-config

But I'm not sure how I'm supposed to write a **record** type in DB-less (yaml format).
I tried this:

[code]
but I got this parsing error:

[code]

Did I miss some part of the documentation?

[2022-08-02 03:01] ngocquy020196 opened #74 "Zerossl config api_uri but error ngx.timer"
Hi, I config for openresty, but when I request domain Nginx log error
[code]
This is my config
[code]
How to fix it.

Thank you so much for your help!

[2022-08-02 03:10] fffonion commented on #74
Hi @ngocquy020196 you will need to add following to `http{}` block:
[code]

[2022-08-02 03:11] fffonion commented on #73
Hi @Videl , the storage configs must be under the name of storage:
[code]

[2022-08-02 03:41] ngocquy020196 commented on #74
@fffonion if I required
[code]
Acme challenge create a certificate from let Let's Encrypt, not from ZeroSsl ACME

[2022-08-02 03:43] #62 closed

[2022-08-02 03:44] fffonion commented on #74
you will need to specify `api_uri` in `client` options:
[code]

[2022-08-02 03:48] ngocquy020196 commented on #74
@fffonion I am try it
[code]
but it not working

[2022-08-02 04:38] ngocquy020196 commented on #74
@fffonion Thank you so much for your help!
I have resolved the issue.

[2022-08-02 04:38] #74 closed

[2022-08-02 08:09] Videl commented on #73
Thanks a bunch @fffonion, indeed..

[2022-08-02 08:09] #73 closed

[2022-08-16 09:03] ngocquy020196 opened #75 "Storage adapter not connect redis"
Hi, this my config redis

[code]
But it does not work

[2022-08-16 19:38] Hackintoshcorp opened #76 "-"
-

[2022-08-18 15:56] Hackintoshcorp opened #77 "BoringSSL not working HTTP3"
Hi how could this error be resolved?

journalctl -xe [log]

[code]

nginx -V

[code]

[2022-08-29 10:46] Hackintoshcorp opened #78 "error during acme login"
2022/08/29 10:45:32 [debug] 1143097#0: *11 [acme] client.lua:307: acme request: https://acme.zerossl.com/v2/DV90/newAccount response: {"type":"urn:ietf:params:acme:error:unauthorized","status":401,"detail":"The Request URL in the JWS Protected Header does not match the actual Request URL"}
2022/08/29 10:45:32 [error] 1143097#0: *11 [acme] autossl.lua:229: error during acme login: failed to create

[2022-08-29 10:51] #76 closed

[2022-09-12 12:42] fffonion commented on #77
Hi @Hackintoshcorp boringssl doesn't export symbols by default when statically linked, but our FFI library requires export symbols to lookup functions. so you can only use boringssl by dynamically linked.
You can do so by not using `--with-openssl`, but compile boringssl seperatedly, then use cflags and ldflags to link to openresty.

https://github.com/fffonion/lua-resty-openssl/blob/master/.githu

[2022-09-12 12:44] fffonion commented on #75
Hi @ngocquy020196 storage config needs the storage name as top level key:

[code]

[2022-09-12 12:44] #75 closed

[2022-09-23 05:21] nizar-m opened #80 "get_certkey_parsed: Pass stale certificate if getting certificate from storage fails"
If file-system is used as storage for cert, the only reason why [getting certificate from storage](https://github.com/fffonion/lua-resty-acme/blob/master/lib/resty/acme/autossl.lua#L116) fails is because the certificate does not exist in the first place. If it is a storage system like vault, it can fail due to networking errors, timeout due to vault being busy etc. Not serving a certificate when t

[2022-09-23 05:24] #57 closed

[2022-10-06 12:47] kozak opened #81 "Problem with update locks"
Hi,
we are occasionally seeing a problem with an `update_lock` not being released, which causes certificates not to be renewed until the lock is manually cleared.

[code]

Any idea what could lead to this?

Thank you very much!

[2022-10-19 11:24] fffonion commented on #81
The update_lock by default expires 300s, unless a cert is sucessfully issued. You might need to check the error log above this line, it could be a misconfiguration, or a bug in code.

[2022-10-19 11:26] fffonion commented on #80
That's good idea @nizar-m ! I will draft a PR.

[2022-10-20 05:15] fffonion commented on #70
Closing as inactivity, please reopen if needed : )

[2022-10-20 19:26] johnfishbein commented on #70
Ah sorry, forgot to close the loop here - your PR https://github.com/fffonion/lua-resty-acme/pull/71 fixed the issue for me since I am now able to use my predefined eab credentials.  Thanks for your help!

[2022-10-26 08:08] joergmoldenhauer opened #85 "Option to delete none whitelisted domains in certificate update"
In our usage of this library a domain which is in the whitelist might be removed from the whitelist later. We would appreciate it if the domain is then removed from the storage used by this library, too. This could be done in the certificate upate process.

In `AUTOSSL.update_cert` an error message is returned when a domain is not whitelisted. It would be nice to have an option that instead of ret

[2022-11-11 13:17] DoobleD opened #90 "Check cache from domain_whitelist_callback?"
Hi folks,

Thank you for this awesome package! I have a quick question: is it possible to check for the existence in the domain certs in the cache from within the domain_whitelist_callback function?

The idea is that we'd query our domain whitelist endpoint only if certs can't be found in cache, to improve performance.

Since certs are [cached for 1h](https://github.com/fffonion/lua-resty-acme/blo

[2022-11-11 16:45] DoobleD opened #91 "Ability to block the first request until certs are created?"
On the first time a whitelisted domain is reached, is there a way to block the request until the certificate is created?

So that certs are used even on that first request? Similarly to what https://github.com/auto-ssl/lua-resty-auto-ssl does.

[2022-11-11 19:24] DoobleD commented on #91
After some digging I realized that was not possible by design due to the use of ngx.timer. https://github.com/fffonion/lua-resty-acme/blob/15a09bd353545aee61ea3b5a641629db027ed1f0/lib/resty/acme/autossl.lua#L514

I thus attempted a proof of concept PR to add a blocking option: https://github.com/fffonion/lua-resty-acme/pull/92.

I'm not familiar with the project or LUA though, so I'm really unsure

[2022-11-14 07:34] fffonion commented on #90
@DoobleD yes you can access `storage` in the `domain_whitelist_callback` function, cosocket API should be available there.

[2022-11-14 07:36] fffonion commented on #85
@joergmoldenhauer That's a good idea. PRs are welcome! I will pick it up if no one is working on it : )

[2022-11-14 07:38] fffonion commented on #78
Hi @Hackintoshcorp , I haven't been able to reproduce this on my side. Is it still an issue you are
experiencing?

[2022-11-14 07:38] fffonion commented on #77
Closing for inactivity, please re-open if needed : )

[2022-11-14 07:38] #77 closed

[2022-11-14 16:48] DoobleD commented on #90
Thank you for the reply @fffonion. I'm not looking to access the storage (file in my case), but really the LRU cache used to cache certs. Is that possible?

[2022-11-14 17:21] DoobleD commented on #90
Thank you @fffonion! Is that in the works already? If not, I'll be happy to try a PR. :)

[2022-11-14 17:26] fffonion commented on #90
There isn't a WIP, but I'm curious on how to make this generic (not 100% sure about what you trying to do yet :) ). That being
said, PRs are welcomed!

[2022-11-14 17:48] DoobleD commented on #90
I'll try one then. :)

To give some explanation, what I'm trying to do is improve performance for our use case. What's costly/slow for us is querying our "is domain whitelisted" HTTP endpoint everytime in `domain_whitelist_callback`.

One way to avoid that as much as possible is to rely on the LRU cache internally used by the plugin. If the cert is in cache, it means the domain was allowed less th

[2022-11-17 18:18] fffonion commented on #91
Fixed by #92

[2022-11-17 18:18] #91 closed

[2022-11-18 10:08] DoobleD commented on #90
Hanlded with https://github.com/fffonion/lua-resty-acme/pull/96. Thanks for merging!

[2022-11-18 10:08] #90 closed